* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
margin: auto;
color: white;
background-color: rgb(38, 0, 255);
text-align: center;
padding: 5px;
}

.flex-container {
    display: flex;
}

.container h2 {
    font-size: 28px;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 40vw;
    margin-bottom: 10px;
}

.input {
    width: 330px;
    border-radius: 3px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
}
.searchBtn {
    width: 355px;
    border-radius: 3px;
    padding: 6px;
    background-color: rgb(0, 183, 255);
    color: white;
    margin-bottom: 15px;
}

.container {
    width: 360px;
    margin-top: 10px;
    margin-left: 10px;
}

.container ul {
    border-top: 1px solid rgb(128, 128, 128);
    width: 355px;
}

.container ul li button {
    margin-top: 10px;
    background-color: rgb(175, 175, 175);
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    width: 355px;
}

.main-city {
    border: 1px solid black;
    width: 65vw;
    margin-top: 15px;
    margin-left: 10px;
    height: 23vh;
}

.city-and-icon {
    width: fit-content;
    margin-bottom: 10px;
}

.main-city h2 {
    font-size: 36px;
    display: inline-block;
}
.main-icon {
    float: right;
}

.main-city ul {
    list-style: none;
}

#forecast-box {
    width: 30%;
    height: 200px;
    background-color: rgb(36, 41, 80);
    color: white;
}

.forecast-container div ul {
    list-style: none;
    margin-left: 5px;
}

.forecast-container h3 {
    margin-left: 10px;
    margin-top: 10px;
}

.footer {
    margin: 50vh;
    margin-left: 10px;
}
